.etcdview,
.preview {
    width: 100%;
    height: 100%;
}
.tab_key {
    display: flex;
    padding: 2px 15px;
    color: #e1e1e1;
}
.tab_key input {
    border: none;
    background-color: transparent;
}
.key {
    display: flex;
    flex-grow: 1;
}
.keyline {
    display: flex;
}
.key input {
    width: 100%;
}
.options {
    justify-self: flex-end;
}
.options label {
    padding-left: 15px;
}
